body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: auto;
}

.container {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header .container {
  display: flex;
  justify-content: flex-end;
  padding: 0.938rem;
}

header .container .icon {
  display: flex;
  flex-flow: column nowrap;
  width: 1rem;
  gap: 0.25rem;
  margin-right: 1.188rem;
}

header .container .icon span {
  flex-basis: 100%;
  border-bottom: 0.125rem solid black;
}

main {
  background-image: url('../assets/header-illsutration-mobile@2x.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

@media (max-width: 768px) {
  main {
    background-image: url('../assets/header-illsutration-mobile@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
  }
}

main .container {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

main .container .commonheading {
  margin-top: 4.163rem;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.938rem;
}

.container h1 :nth-child(1) {
  color: #172b4d;
  margin-bottom: 0;
}

.container h2:nth-child(2) {
  margin-top: 0;
  color: #36b37e;
}

.container p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.469rem;
}

.container .icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 3rem;
}

.container .icons li {
  width: 1.25rem;
  height: 1.25rem;
  gap: 0.313rem;
  margin-bottom: 1.25rem;
  text-decoration: none;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 62px;
}

/* @media   {

} */

main .cards .work-title {
  justify-self: center;
  align-self: center;
  gap: 24px;
  width: 300px;
  height: 125px;
}

main .section-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5rem;
  color: #172b4d;
  font-weight: 700;
  line-height: 52px;
}

main .cards .work-title hr {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

main .cards .card {
  width: 327px;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

main .cards .card img {
  height: 265px;
  width: 327px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
}

main .cards .card h3 {
  width: 295px;
  height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  align-content: center;
  text-align: center;
}

main .cards .card ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  gap: 10px;
}

main .cards .card ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.button {
  padding: 3px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  justify-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
}

main .cards .card button:active {
  background-color: #008552;
}

main .about p {
  width: 351px;
  height: 194px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

main .about {
  background-image: url(../assets/illustration\ 1-\ about\ me-mobile.png);

  /* background-image: url(../assets/illustration-\ about\ me-\ mobile\ 2.png); */
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-div {
  padding: 0;
  margin: 0%;
  width: 23.4375rem;
  background-repeat: no-repeat;
  background-image: url(../assets/illustration-\ about\ me-\ mobile\ 2.png);
  background-position: bottom left;
}

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 20.4375rem;
  height: 20.625rem;
  border: none;
}

#fs-frm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 20.4375rem;
  height: 20.625rem;
}

.data-input {
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  height: 48px;
  width: 20.4375rem;
  border-radius: 0.25rem;
  top: calc(50% - 18px / 2);
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #6b778c;
  padding: 0.625rem;
  margin: 0.625rem;
}

.middle-text {
  width: 23.8125rem;
  height: 2.375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: #42526e;
}

.text-area {
  height: 7.125rem;
  width: 19.0625rem;
  border-radius: 0.25rem;
  top: calc(50% - 18px / 2);
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #6b778c;
  padding: 0.652rem;
  margin: 0.652rem;
}

#contact-frm-header {
  width: 327px;
  height: 363px;
  margin-top: 27rem;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  display: block;
}
footer {
  display: block;
  /* margin-top: 30rem; */
}

.meow {
  width: 100%;
  height: 30rem;
}

body {
  background-image: url('../assets/Frame\ \(1\).png');
  background-repeat: no-repeat;
  background-position: 312px 4570px;
}

#form-btn {
  padding: 1rem;
}
